@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts/fonts.css';

.orange {
  color: #FF4500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'KyivTypeSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'NeueKaine',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.corner-vignette {
  background: 
    radial-gradient(circle at 0 0, rgba(0,0,0,0.3) 0%, transparent 50%) top left,
    radial-gradient(circle at 100% 100%, rgba(0,0,0,0.3) 0%, transparent 50%) bottom right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}